#root {
  max-width: 540px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  max-width: 480px;
  background-color: #FFF;
}

body {
  background-color: #FF8000;
  height: 100vh;
  margin: 0;
}

/* 버튼 노랑 #FFC700; */
/* 주황  #FF8000*/